@import "root";
@media screen and (max-width:991px) {
    .accounttable {
        width: 100%;
    }
}

@media screen and (min-width:992px) {
    .accounttable {
        width: 650px;
    }
}

.accounttable {
     tr>td {
        text-align: left;
    }
}
