@import "root";
@media screen and (max-width:991px) {
    .account-menu {
        display: block;
        ul {
            display: block;
        }
    }
    .account-form {
        display: block;
    }
}

@media screen and (min-width:992px) {
    .account-menu {
        display: inline-block;
        ul {
            display: inline-block;
        }
    }
    .account-form {
        display: inline-block;
    }
}

.account-main {
    width: 80%;
    margin: auto;
    text-align: center;
}

.account-menu {
    vertical-align: top;
    ul {
        display: inline-block;
        padding-top: 20px;
        padding-right: 60px;
        padding-left: 0px;
        vertical-align: top;
        li {
            padding: 5px;
            list-style-type: none;
            a {
                color: $logo-color;
            }
            .acc-menu-active{
                color: darken($logo-color,20%);
                font-weight: bold;
            }
        }
    }
}
