@import "root";
.carousel-control.left,
.carousel-control.right {
    background-repeat: no-repeat;
}

#carousel-pic {
    margin-bottom: 20px;
}

.carousel-caption-div {
    @include gradient2Color(rgba($logo-color,0.9),white,40%);
    padding: 30px;
    text-align: center;
    div {
        text-align: center;
        padding: 10px;
        margin: auto;
        &:nth-child(1) {
            font-size: 1.8em;
        }
        &:nth-child(2) {
            color: $logo-color;
            font-size: 2.4em;
        }
        &:nth-child(4) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        a {
            text-decoration: none;
            border: 3px solid $logo-color;
            color: $logo-color;
            cursor: pointer;
            padding: 5px;
            &:nth-child(1) {
                margin-right: 30px;
            }
        }
    }
}

.carousel-control {
    top: 50%;
    left: 5px;
    width: 25px;
}