@import 'root';
.main-media {
    text-align: right;
    ul {
        margin-top: 50px;
        margin-right: 20px;
        li {
            position: relative;
            transition: top 1s;
            top: 0;
            &:hover {
                top: -16px;
            }
            padding: 5px;
            list-style-type: none;
            float: right;
            >a>img {
                width: 32px;
                height: 32px;
            }
        }
    }
}
 
.main-footer {
    border-top: 1px solid $logo-color;
    margin-top: 70px;
    padding-top: 50px;
    margin-bottom: 40px;
    ul {
        padding-right: 20px;
        li {
            list-style-type: none;
            padding-bottom: 10px;
            :nth-child(1) {
                padding-bottom: 15px;
                a {
                    font-size: 1.2em;
                    color: $logo-color;
                }
            }
            a {
                font-size: 0.8em;
                cursor: pointer;
                color: lighten($logo-color, 10%);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}