@import 'root';
@media screen and (max-width:500px) {
    .mall-form {
        width: 100%;
    }
}

@media screen and (min-width:501px) {
    .mall-form {
        width: 450px;
    }
}

.mall-form {
    padding: 25px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid lighten($logo-color, 5%);
    @include gradient2Color($bg-color, lighten($logo-color, 15%), 90%);
    color: $logo-color;
    /* For IE8 and earlier */
    >header {
        font-size: 1.5em;
        text-align: center;
    }
    .error-msg {
        color: lighten(red, 10%);
    }
    >footer {
        margin-top: 20px;
    }
    >div {
        margin: 5px;
        text-align: left;
        >div {
            text-transform: uppercase;
            &:nth-child(odd) {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            // color: #FF6699;
            &:nth-child(even) {
                font-size: 1.5em;
                margin-bottom: 10px;
            }
            >input {
                width: 90%;
                font-size: 0.6em;
                padding: 5px;
                line-height: 1.5;
                background-color: lighten($bg-color, 5%);
                @extend .form-input-outline;
                &::-webkit-input-placeholder {
                    font-size: 0.8em;
                    padding: 2px;
                    text-transform: uppercase;
                }
                &:-webkit-autofill {
                    background-color: lighten($bg-color, 5%);
                }
            }
        }
        .f-combobox {
            width: 90%;
            font-size: 0.6em;
            padding: 5px;
            @extend .form-input-outline;
        }
    }
    .f-radio>span {
        font-size: 0.6em;
        margin-right: 20px;
        font-weight: none;
    }
}

.form-input-outline {
    border: 1px solid lighten($logo-color,10%);
    box-shadow: 0px 0px 17px 0px rgba($logo-color,10%);
}

.form-btn {
    margin-left: 5px;
    margin-right: 10px;
    width: 80px;
    height: 30px;
    @extend .form-input-outline;
    border-radius: 5px;
    padding: 1px;
    font-weight: bold;
    color: $logo-color;
    background-color: $bg-color;
}

.form-btn:hover {
    border: 1px solid darken($logo-color, 10%);
    color: darken($logo-color, 10%);
    background-color: darken($bg-color, 10%);
}

em.hint {
    text-align: left;
    color: lighten(red, 10%);
    margin-top: 8px;
    font-size: 18px;
}

em {
    font-size: 14px;
}

.init {
    display: block;
    color: white;
}

em.error {
    display: block;
    color: lighten(red, 10%);
    // #FF0000;
}

em.error-img {
    margin-left: 5px;
    background: url(../images/no.png) no-repeat 0px 0px;
    padding-left: 16px;
}

em.success-img {
    margin-left: 5px;
    background: url(../images/yes.png) no-repeat 0px 0px;
    padding-left: 16px;
}
