@import 'root';
.row {
    margin-right: 0;
    margin-left: 0;
}

@media screen and (min-width:1201px) {
    .carousel-caption {
        top: 25%;
        right: 28%;
        left: 28%;
    }
    .logo {
        height: 100px;
        width: 300px;
    }
    .logo-container {
        width: 300px;
    }
    // .top-menu {
    //     top: 30px;
    //     font-size: 2em;
    //     right: 30px;
    //     >li {
    //         padding: 20px;
    //     }
    // }
    .top-btn {
        display: none;
    }
}

@media screen and (max-width:1200px) {
    .carousel-caption {
        top: 15%;
        right: 28%;
        left: 28%;
    }
    .logo {
        height: 80px;
        width: 240px;
    }
    .logo-container {
        width: 240px;
    }
    // .top-menu {
    //     top: 23px;
    //     font-size: 1.8em;
    //     right: 25px;
    //     >li {
    //         padding: 18px;
    //     }
    // }
    .top-btn {
        display: none;
    }
}

@media screen and (max-width:970px) {
    .logo {
        height: 60px;
        width: 180px;
    }
    .logo-container {
        width: 180px;
    }
    .carousel-caption {
        top: 6%;
        right: 15%;
        left: 15%;
    }
    // .top-menu {
    //     top: 17px;
    //     font-size: 1.5em;
    //     right: 25px;
    //     >li {
    //         padding: 18px;
    //     }
    // }
    .top-btn {
        display: none;
    }
}

.top-btn {
    position: absolute;
    top: 0px;
    font-size: 1.2em;
    left: 0px;
    padding: 10px;
    >li {
        list-style-type: none;
        float: left;
        >a {
            color: $logo-color;
            &:hover {
                cursor: pointer;
                color: lighten($logo-color, 10%);
            }
        }
    }
}

.sub-menu-bottom {
    color: white;
    border-bottom: 1px solid $bg-color;
}

@media screen and (min-width:992px) {
    .sub-menu-bottom2 {
        color: white;
        border-bottom: 1px solid $bg-color;
    }
    .mall-menu {
        padding-right: 40px;
        background: rgba($logo-color, 0.95);
        width: 100%;
        overflow: hidden;
        &>li {
            list-style-type: none;
            float: left;
            padding: 15px;
            &:hover {
                >a {
                    cursor: default;
                    @extend .sub-menu-bottom2;
                }
            }
            >a {
                display: inline-block;
                color: $bg-color;
                text-align: center;
                padding: 3px;
                text-decoration: none;
                font-weight: bold;
            }
            &:nth-child(5),
            &:nth-child(6) {
                float: right;
                &:hover {
                    >a {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .sub-menu {
        border-bottom-right-radius: 15%;
        border-bottom-left-radius: 15%;
        width: 100%;
        background: rgba($logo-color, 0.95);
        display: none;
        position: absolute;
        left: 0;
        z-index: 100;
        padding-top: 30px;
        padding-left: 30px;
        padding-bottom: 20px;
        margin-top: 15px;
        >ul,
        div>ul {
            float: left;
            border-left: 1px solid lighten($logo-color, 10%);
            padding-left: 20px;
            margin-bottom: 30px;
            >li {
                width: 160px;
                list-style-type: none;
                padding: 0px 55px 15px 0px;
                >a {
                    padding: 3px;
                    text-decoration: none;
                    color: darken($logo-color, 20%);
                    &:hover {
                        border-bottom: 1px solid darken($logo-color, 20%);
                    }
                }
                &:first-child>a {
                    color: $bg-color;
                    font-weight: bold;
                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }
        &:hover {
            display: block;
        }
    }
    .right-menu {
        right: 0;
        width: 300px;
        left: auto;
        >ul {
            >li {
                width: 230px;
                &:nth-child(2)>a,
                &:nth-child(3)>a {
                    color: $bg-color;
                    font-weight: bold;
                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }
    }
    #shopcart {
        width: 500px;
        padding: 10px 20px;
        >ul {
            border-left: none;
            margin: 0px;
            width: 100%;
            padding: 10px;
            >li {
                width: 100%;
                margin: 0px;
                padding: 10px 0px 10px 0px;
                display: block;
                &:nth-child(1) {
                    border-bottom: 1px solid lighten($logo-color, 10%);
                }
                >div {
                    color: darken($bg-color, 10%);
                    font-size: 1.1em;
                    >button {
                        font-size: 0.9em;
                        border-radius: 5px;
                        text-transform: uppercase;
                        border: 1px solid $logo-color;
                        padding: 10px 30px 10px 30px;
                        background: rgba(darken($logo-color, 15%), 0.9);
                        opacity: 0.9;
                        &:hover {
                            opacity: 1;
                            // background: rgba(darken($logo-color, 5%), 0.9);
                        }
                    }
                }
            }
        }
    }
    .shopcart {
        display: table-row;
        >li {
            display: table-cell;
            // width: 33%;
            padding: 10px;
            position: relative;
            >div {
                color: lighten($bg-color, 10%);
                font-size: 0.7em;
                &:hover {
                    opacity: 1;
                    &+div {
                        &>div:nth-child(1) {
                            display: block;
                        }
                        &>div:nth-child(2),
                        &>div:nth-child(3),
                        &>div:nth-child(4),
                        &>div:nth-child(5) {
                            display: none;
                        }
                    }
                }
                >div {
                    &:nth-child(1) {
                        display: none;
                        padding-top: 10px;
                        padding-bottom: 40px;
                        &:hover {
                            display: block;
                            &~div {
                                display: none;
                            }
                        }
                        >span {
                            color: lighten($bg-color, 10%);
                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }
                    }
                    &:nth-child(2) {
                        color: darken($logo-color, 30%);
                        margin-bottom: 8px;
                        padding-top: 10px;
                    }
                    &:nth-child(3) {
                        position: absolute;
                        bottom: 5px;
                    }
                }
            }
            .empty-div {
                visibility: hidden;
                z-index: -1;
            }
        }
    }
    .sub-menu-name {
        width: 100px;
        float: left;
        font-weight: bold;
        padding-right: 45px;
    }
    .main-head {
        color: lighten($logo-color, 15%);
        a {
            color: darken($logo-color, 10%);
        }
    }
}

@media screen and (max-width:991px) {
    .top-menu {
        top: 3px;
        font-size: 1.2em;
        right: 10px;
        >li {
            padding: 10px;
        }
    }
    .top-btn {
        display: block;
    }
    .mall-menu {
        display: none;
        background: rgba($logo-color, 0.95);
        width: 100%;
        overflow: hidden;
        padding: 0px;
        >li {
            border-top: 1px solid lighten($logo-color, 10%);
            list-style-type: none;
            padding: 15px 0px 15px 0px;
            >a {
                font-size: 1.2em;
                color: $bg-color;
                padding-left: 15px;
                text-decoration: none;
            }
        }
    }
    .sub-menu {
        display: none;
        margin-top: 10px;
        span {
            margin-left: 30px;
        }
        >ul,
        div>ul {
            padding: 0px;
            >li {
                list-style-type: none;
                padding: 10px 0px 10px 0px;
                border-top: 1px solid lighten($logo-color, 10%);
                >a {
                    margin-left: 40px;
                    text-decoration: none;
                    color: darken($logo-color, 20%);
                }
                &:first-child>a {
                    color: $bg-color;
                    // font-weight: bold;
                    margin-left: 30px;
                }
            }
        }
    }
    #shopcart {
        width: 100%;
        >ul {
            width: 100%;
            >li {
                padding: 15px 25px 0px 25px;
                width: 100%;
                display: block;
                &:nth-child(1) {
                    padding: 15px 25px 0px 25px;
                }
                &:nth-child(2) {
                    border-top:none;
                }
                >div {
                    color: darken($bg-color, 10%);
                    font-size: 1.1em;
                    >button {
                        font-size: 0.9em;
                        border-radius: 5px;
                        text-transform: uppercase;
                        border: 1px solid $logo-color;
                        padding: 10px 30px 10px 30px;
                        background: rgba(darken($logo-color, 15%), 0.9);
                        opacity: 0.9;
                        &:hover {
                            opacity: 1;
                            // background: rgba(darken($logo-color, 5%), 0.9);
                        }
                    }
                }
            }
        }
    }
    .shopcart {
        >li {
            padding: 15px 0px 10px 0px;
            position: relative;
            list-style-type: none;
            >div {
                vertical-align: text-top;
                display: inline-block;
                color: lighten($bg-color, 10%);
                font-size: 0.7em;
                &:nth-child(1) {
                    padding-right: 20px;
                    &:hover {
                        opacity: 1;
                        &+div {
                            &>div:nth-child(1) {
                                display: block;
                            }
                            &>div:nth-child(2),
                            &>div:nth-child(3),
                            &>div:nth-child(4),
                            &>div:nth-child(5) {
                                display: none;
                            }
                        }
                    }
                }
                >div {
                    &:nth-child(1) {
                        display: none;
                        margin-left: -10px;
                        padding-left: 10px;
                        padding-top: 50%;
                        padding-bottom: 50%;
                        padding-right: 40px;
                        &:hover {
                            display: block;
                            &~div {
                                display: none;
                            }
                        }
                        >span {
                            color: lighten($bg-color, 10%);
                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }
                    }
                    &:nth-child(2) {
                        margin-left: 30px;
                        margin-bottom: 20px;
                        color: darken($logo-color, 30%);
                    }
                    &:nth-child(3) {
                        position: absolute;
                    }
                }
            }
            .empty-div {
                visibility: hidden;
                z-index: -1;
            }
        }
    }
    .right-menu >ul >li {
        &:nth-child(2)>a,
        &:nth-child(3)>a {
            color: $bg-color;
            margin-left: 30px;
        }
    }
    .main-head {
        background-color: $logo-color;
        color: darken($logo-color, 20%);
        margin-bottom: 20px;
        a {
            color: lighten($bg-color, 10%);
        }
    }
}

.top-menu {
    position: absolute;
    >li {
        list-style-type: none;
        float: right;
        >a {
            color: $logo-color;
            &:hover {
                cursor: pointer;
                color: lighten($logo-color, 10%);
            }
        }
    }
}

.mall-container {
    background-color: $bg-color;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: darken($logo-color, 10%);
    background-image: url('../images/s1.png'), url('../images/s2.png'), url('../images/s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }
    50% {
        background-position: 500px 500px, 100px 200px, -100px 150px;
    }
    100% {
        background-position: 500px 1000px, 200px 400px, -100px 300px;
    }
}

.logo {
    background-image: url(../images/logo.png);
    background-size: cover;
}

.logo-container {
    margin: auto;
}

.main-head {
    padding: 10px;
    text-align: center;
    a {
        padding-left: 5px;
        padding-right: 5px;
        text-decoration: underline;
        &:hover {
            cursor: pointer;
        }
    }
    span {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.btn-default{
    color: lighten($logo-color,5%);
}