@media screen and (min-width: 768px) {
  .detail-pics {
    text-align: right;
    padding-right: 20px; } }

@media screen and (max-width: 991px) {
  .detail-comment {
    width: 90%; } }

@media screen and (min-width: 992px) {
  .detail-comment {
    width: 70%; } }

.detail-main {
  width: 90%;
  margin: auto;
  margin: 20px; }
  .detail-main > :nth-child(2) > div {
    margin: 20px 15px 20px 15px; }
  .detail-main > :nth-child(2) > .mar-left {
    margin-left: 23px;
    margin-top: 0px;
    margin-bottom: 0px; }
  .detail-main > :nth-child(2) .d-sold {
    margin-left: 60px;
    color: #7B718E; }
  .detail-main > :nth-child(2) .d-detail {
    color: #7B718E;
    line-height: 2;
    margin-top: 20px; }

input[type=radio], input[type=checkbox] {
  opacity: 0;
  margin-right: -40px;
  -webkit-transform: scale(2);
          transform: scale(2); }
  input[type=radio]:hover, input[type=checkbox]:hover {
    cursor: pointer; }
  input[type=radio] + label, input[type=checkbox] + label {
    height: 28px;
    width: 28px;
    display: inline-block;
    text-align: center;
    margin: 10px 15px 10px 15px;
    font-size: 0.7em;
    padding-top: 4px;
    border-radius: 3px; }
  input[type=radio]:checked + label,
  input[type=radio]:hover + label, input[type=checkbox]:checked + label,
  input[type=checkbox]:hover + label {
    box-shadow: 0px 0px 7px 0px #7b718e;
    border: 2px solid #7b718e; }

.g-red {
  background-color: red; }

.g-yellow {
  background-color: yellow; }

.g-pink {
  background-color: pink; }

.g-white {
  background-color: white; }

.g-orange {
  background-color: orange; }

.g-blue {
  background-color: blue; }

.g-green {
  background-color: green; }

.g-black {
  background-color: black; }

.g-purple {
  background-color: purple; }

.g-grey {
  background-color: grey; }

.detail-comment {
  margin: auto;
  color: #887f99;
  padding-top: 10px; }
  .detail-comment > div {
    border-bottom: 1px solid #d7d4dd; }
    .detail-comment > div > div {
      padding: 5px; }
      .detail-comment > div > div > div > textarea {
        width: 100%;
        margin-top: 10px; }
      .detail-comment > div > div:nth-child(1) > div, .detail-comment > div > div:nth-child(3) > div {
        display: inline-block; }
        .detail-comment > div > div:nth-child(1) > div:last-child, .detail-comment > div > div:nth-child(3) > div:last-child {
          float: right; }
    .detail-comment > div > .detail-replys {
      display: none; }
      .detail-comment > div > .detail-replys > div {
        padding-top: 5px;
        border-top: 1px dotted #e5e3e8; }
