.goods-query {
  margin: 20px 15px 20px 15px;
  text-align: left; }

.g-sort {
  float: right; }
  .g-sort > span {
    color: #a39cb0;
    padding: 10px; }
    .g-sort > span:hover {
      color: #bdb8c7;
      cursor: pointer; }
    .g-sort > span > span {
      padding-left: 3px;
      font-size: 0.9em;
      vertical-align: text-top; }

.caption p:nth-child(1) > a {
  color: #a39cb0; }

.caption p:nth-child(2) > span {
  padding-right: 20px;
  padding-left: 20px;
  color: #625a72; }
  .caption p:nth-child(2) > span:nth-child(2) {
    text-decoration: underline;
    color: #a39cb0; }

.rating > span {
  width: 1.1em;
  color: #ff4d4d; }

.glyphicon-star.half {
  position: relative; }
  .glyphicon-star.half:before {
    position: relative;
    z-index: 9;
    width: 47%;
    display: block;
    overflow: hidden; }
  .glyphicon-star.half:after {
    content: '\e006';
    position: absolute;
    z-index: 8;
    color: #a39cb0;
    top: 0;
    left: 0; }

.glyphicon-star[empty] {
  color: #a39cb0; }
