.main-media {
  text-align: right; }
  .main-media ul {
    margin-top: 50px;
    margin-right: 20px; }
    .main-media ul li {
      position: relative;
      transition: top 1s;
      top: 0;
      padding: 5px;
      list-style-type: none;
      float: right; }
      .main-media ul li:hover {
        top: -16px; }
      .main-media ul li > a > img {
        width: 32px;
        height: 32px; }

.main-footer {
  border-top: 1px solid #7B718E;
  margin-top: 70px;
  padding-top: 50px;
  margin-bottom: 40px; }
  .main-footer ul {
    padding-right: 20px; }
    .main-footer ul li {
      list-style-type: none;
      padding-bottom: 10px; }
      .main-footer ul li :nth-child(1) {
        padding-bottom: 15px; }
        .main-footer ul li :nth-child(1) a {
          font-size: 1.2em;
          color: #7B718E; }
      .main-footer ul li a {
        font-size: 0.8em;
        cursor: pointer;
        color: #958da5; }
        .main-footer ul li a:hover {
          text-decoration: underline; }
