.row {
  margin-right: 0;
  margin-left: 0; }

@media screen and (min-width: 1201px) {
  .carousel-caption {
    top: 25%;
    right: 28%;
    left: 28%; }
  .logo {
    height: 100px;
    width: 300px; }
  .logo-container {
    width: 300px; }
  .top-btn {
    display: none; } }

@media screen and (max-width: 1200px) {
  .carousel-caption {
    top: 15%;
    right: 28%;
    left: 28%; }
  .logo {
    height: 80px;
    width: 240px; }
  .logo-container {
    width: 240px; }
  .top-btn {
    display: none; } }

@media screen and (max-width: 970px) {
  .logo {
    height: 60px;
    width: 180px; }
  .logo-container {
    width: 180px; }
  .carousel-caption {
    top: 6%;
    right: 15%;
    left: 15%; }
  .top-btn {
    display: none; } }

.top-btn {
  position: absolute;
  top: 0px;
  font-size: 1.2em;
  left: 0px;
  padding: 10px; }
  .top-btn > li {
    list-style-type: none;
    float: left; }
    .top-btn > li > a {
      color: #7B718E; }
      .top-btn > li > a:hover {
        cursor: pointer;
        color: #958da5; }

.sub-menu-bottom {
  color: white;
  border-bottom: 1px solid #EEEEEE; }

@media screen and (min-width: 992px) {
  .sub-menu-bottom2, .mall-menu > li:hover > a {
    color: white;
    border-bottom: 1px solid #EEEEEE; }
  .mall-menu {
    padding-right: 40px;
    background: rgba(123, 113, 142, 0.95);
    width: 100%;
    overflow: hidden; }
    .mall-menu > li {
      list-style-type: none;
      float: left;
      padding: 15px; }
      .mall-menu > li:hover > a {
        cursor: default; }
      .mall-menu > li > a {
        display: inline-block;
        color: #EEEEEE;
        text-align: center;
        padding: 3px;
        text-decoration: none;
        font-weight: bold; }
      .mall-menu > li:nth-child(5), .mall-menu > li:nth-child(6) {
        float: right; }
        .mall-menu > li:nth-child(5):hover > a, .mall-menu > li:nth-child(6):hover > a {
          cursor: pointer; }
  .sub-menu {
    border-bottom-right-radius: 15%;
    border-bottom-left-radius: 15%;
    width: 100%;
    background: rgba(123, 113, 142, 0.95);
    display: none;
    position: absolute;
    left: 0;
    z-index: 100;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin-top: 15px; }
    .sub-menu > ul,
    .sub-menu div > ul {
      float: left;
      border-left: 1px solid #958da5;
      padding-left: 20px;
      margin-bottom: 30px; }
      .sub-menu > ul > li,
      .sub-menu div > ul > li {
        width: 160px;
        list-style-type: none;
        padding: 0px 55px 15px 0px; }
        .sub-menu > ul > li > a,
        .sub-menu div > ul > li > a {
          padding: 3px;
          text-decoration: none;
          color: #4a4455; }
          .sub-menu > ul > li > a:hover,
          .sub-menu div > ul > li > a:hover {
            border-bottom: 1px solid #4a4455; }
        .sub-menu > ul > li:first-child > a,
        .sub-menu div > ul > li:first-child > a {
          color: #EEEEEE;
          font-weight: bold; }
          .sub-menu > ul > li:first-child > a:hover,
          .sub-menu div > ul > li:first-child > a:hover {
            border-bottom: none; }
    .sub-menu:hover {
      display: block; }
  .right-menu {
    right: 0;
    width: 300px;
    left: auto; }
    .right-menu > ul > li {
      width: 230px; }
      .right-menu > ul > li:nth-child(2) > a,
      .right-menu > ul > li:nth-child(3) > a {
        color: #EEEEEE;
        font-weight: bold; }
        .right-menu > ul > li:nth-child(2) > a:hover,
        .right-menu > ul > li:nth-child(3) > a:hover {
          border-bottom: none; }
  #shopcart {
    width: 500px;
    padding: 10px 20px; }
    #shopcart > ul {
      border-left: none;
      margin: 0px;
      width: 100%;
      padding: 10px; }
      #shopcart > ul > li {
        width: 100%;
        margin: 0px;
        padding: 10px 0px 10px 0px;
        display: block; }
        #shopcart > ul > li:nth-child(1) {
          border-bottom: 1px solid #958da5; }
        #shopcart > ul > li > div {
          color: #d5d5d5;
          font-size: 1.1em; }
          #shopcart > ul > li > div > button {
            font-size: 0.9em;
            border-radius: 5px;
            text-transform: uppercase;
            border: 1px solid #7B718E;
            padding: 10px 30px 10px 30px;
            background: rgba(86, 79, 99, 0.9);
            opacity: 0.9; }
            #shopcart > ul > li > div > button:hover {
              opacity: 1; }
  .shopcart {
    display: table-row; }
    .shopcart > li {
      display: table-cell;
      padding: 10px;
      position: relative; }
      .shopcart > li > div {
        color: white;
        font-size: 0.7em; }
        .shopcart > li > div:hover {
          opacity: 1; }
          .shopcart > li > div:hover + div > div:nth-child(1) {
            display: block; }
          .shopcart > li > div:hover + div > div:nth-child(2),
          .shopcart > li > div:hover + div > div:nth-child(3),
          .shopcart > li > div:hover + div > div:nth-child(4),
          .shopcart > li > div:hover + div > div:nth-child(5) {
            display: none; }
        .shopcart > li > div > div:nth-child(1) {
          display: none;
          padding-top: 10px;
          padding-bottom: 40px; }
          .shopcart > li > div > div:nth-child(1):hover {
            display: block; }
            .shopcart > li > div > div:nth-child(1):hover ~ div {
              display: none; }
          .shopcart > li > div > div:nth-child(1) > span {
            color: white; }
            .shopcart > li > div > div:nth-child(1) > span:hover {
              cursor: pointer;
              text-decoration: underline; }
        .shopcart > li > div > div:nth-child(2) {
          color: #312d39;
          margin-bottom: 8px;
          padding-top: 10px; }
        .shopcart > li > div > div:nth-child(3) {
          position: absolute;
          bottom: 5px; }
      .shopcart > li .empty-div {
        visibility: hidden;
        z-index: -1; }
  .sub-menu-name {
    width: 100px;
    float: left;
    font-weight: bold;
    padding-right: 45px; }
  .main-head {
    color: #a39cb0; }
    .main-head a {
      color: #625a72; } }

@media screen and (max-width: 991px) {
  .top-menu {
    top: 3px;
    font-size: 1.2em;
    right: 10px; }
    .top-menu > li {
      padding: 10px; }
  .top-btn {
    display: block; }
  .mall-menu {
    display: none;
    background: rgba(123, 113, 142, 0.95);
    width: 100%;
    overflow: hidden;
    padding: 0px; }
    .mall-menu > li {
      border-top: 1px solid #958da5;
      list-style-type: none;
      padding: 15px 0px 15px 0px; }
      .mall-menu > li > a {
        font-size: 1.2em;
        color: #EEEEEE;
        padding-left: 15px;
        text-decoration: none; }
  .sub-menu {
    display: none;
    margin-top: 10px; }
    .sub-menu span {
      margin-left: 30px; }
    .sub-menu > ul,
    .sub-menu div > ul {
      padding: 0px; }
      .sub-menu > ul > li,
      .sub-menu div > ul > li {
        list-style-type: none;
        padding: 10px 0px 10px 0px;
        border-top: 1px solid #958da5; }
        .sub-menu > ul > li > a,
        .sub-menu div > ul > li > a {
          margin-left: 40px;
          text-decoration: none;
          color: #4a4455; }
        .sub-menu > ul > li:first-child > a,
        .sub-menu div > ul > li:first-child > a {
          color: #EEEEEE;
          margin-left: 30px; }
  #shopcart {
    width: 100%; }
    #shopcart > ul {
      width: 100%; }
      #shopcart > ul > li {
        padding: 15px 25px 0px 25px;
        width: 100%;
        display: block; }
        #shopcart > ul > li:nth-child(1) {
          padding: 15px 25px 0px 25px; }
        #shopcart > ul > li:nth-child(2) {
          border-top: none; }
        #shopcart > ul > li > div {
          color: #d5d5d5;
          font-size: 1.1em; }
          #shopcart > ul > li > div > button {
            font-size: 0.9em;
            border-radius: 5px;
            text-transform: uppercase;
            border: 1px solid #7B718E;
            padding: 10px 30px 10px 30px;
            background: rgba(86, 79, 99, 0.9);
            opacity: 0.9; }
            #shopcart > ul > li > div > button:hover {
              opacity: 1; }
  .shopcart > li {
    padding: 15px 0px 10px 0px;
    position: relative;
    list-style-type: none; }
    .shopcart > li > div {
      vertical-align: text-top;
      display: inline-block;
      color: white;
      font-size: 0.7em; }
      .shopcart > li > div:nth-child(1) {
        padding-right: 20px; }
        .shopcart > li > div:nth-child(1):hover {
          opacity: 1; }
          .shopcart > li > div:nth-child(1):hover + div > div:nth-child(1) {
            display: block; }
          .shopcart > li > div:nth-child(1):hover + div > div:nth-child(2),
          .shopcart > li > div:nth-child(1):hover + div > div:nth-child(3),
          .shopcart > li > div:nth-child(1):hover + div > div:nth-child(4),
          .shopcart > li > div:nth-child(1):hover + div > div:nth-child(5) {
            display: none; }
      .shopcart > li > div > div:nth-child(1) {
        display: none;
        margin-left: -10px;
        padding-left: 10px;
        padding-top: 50%;
        padding-bottom: 50%;
        padding-right: 40px; }
        .shopcart > li > div > div:nth-child(1):hover {
          display: block; }
          .shopcart > li > div > div:nth-child(1):hover ~ div {
            display: none; }
        .shopcart > li > div > div:nth-child(1) > span {
          color: white; }
          .shopcart > li > div > div:nth-child(1) > span:hover {
            cursor: pointer;
            text-decoration: underline; }
      .shopcart > li > div > div:nth-child(2) {
        margin-left: 30px;
        margin-bottom: 20px;
        color: #312d39; }
      .shopcart > li > div > div:nth-child(3) {
        position: absolute; }
    .shopcart > li .empty-div {
      visibility: hidden;
      z-index: -1; }
  .right-menu > ul > li:nth-child(2) > a,
  .right-menu > ul > li:nth-child(3) > a {
    color: #EEEEEE;
    margin-left: 30px; }
  .main-head {
    background-color: #7B718E;
    color: #4a4455;
    margin-bottom: 20px; }
    .main-head a {
      color: white; } }

.top-menu {
  position: absolute; }
  .top-menu > li {
    list-style-type: none;
    float: right; }
    .top-menu > li > a {
      color: #7B718E; }
      .top-menu > li > a:hover {
        cursor: pointer;
        color: #958da5; }

.mall-container {
  background-color: #EEEEEE;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #625a72;
  background-image: url("../images/s1.png"), url("../images/s2.png"), url("../images/s3.png");
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-animation: snow 10s linear infinite;
          animation: snow 10s linear infinite; }

@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px; }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px; }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px; } }

.logo {
  background-image: url(../images/logo.png);
  background-size: cover; }

.logo-container {
  margin: auto; }

.main-head {
  padding: 10px;
  text-align: center; }
  .main-head a {
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: underline; }
    .main-head a:hover {
      cursor: pointer; }
  .main-head span {
    padding-left: 10px;
    padding-right: 10px; }

.btn-default {
  color: #887f99; }
