.main-content {
  text-align: center;
  width: 90%;
  padding: 20px;
  margin: auto;
  background-color: #fbfbfb; }

.main-pic {
  transition-duration: 2s; }
  .main-pic:hover {
    -webkit-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9); }
    .main-pic:hover a {
      opacity: 0.4; }
    .main-pic:hover span {
      opacity: 1; }

.main-pic-content {
  position: relative; }

.main-pic-content > span {
  position: absolute;
  top: -100px;
  left: 50%;
  color: #7B718E;
  opacity: 0;
  transition: opacity 1s linear; }
